# Byte-compiled / optimized / DLL files
__pycache__/
/data
/save_models
/pytorch-cifar100
/resnet_18
/vit_ti_8_32
/wandb
/key
/ViT-CIFAR
/resnet
/vit
/.idea
/PIGNet/data/cifar-10
/PIGNet/data/cifar-100
/PIGNet/data/cityscape
/PIGNet/data/imagenet-100
/PIGNet/data/VOCdevkit
/PIGNet/model
/PIGNet/wandb
/PIGNet/model_CNN_ViT.tar.gz
/PIGNet/model_PIGNet.tar.gz
/PIGNet/eval_graph
/PIGNet/segmentation_result/
/PIGNet/cityscapesscripts
/PIGNet/.fr-agTx0l
/PIGNet/data.tar.gz
/.vscode/
/some/other/stuff/
/gcn-ha
/PIGNet/CIFAR-10_51
/PIGNet/CIFAR-100_51
/PIGNet/Imagenet_51
/PIGNet/pascal_51
/PIGNet/cityscape_51
/PIGNet/old_csv
/PIGNet/overlap_add_exp
/PIGNet/data_new.tar.gz
/PIGNet/data
/cityscapesscripts
/output_csv
/PIGNet/.vscode/
/PIGNet/check_image.yaml
/PIGNet/check_image_ratio.py
/PIGNet/Rotate_-120.png
/PIGNet/Rotate_120.png
/PIGNet/infer_segmentation_images/
/PIGNet/overlap__.png
/PIGNet/GT_segmentation_masks/
/PIGNet/layers_activity/
/PIGNet/new_results51/
/PIGNet/GT_input_images/
/PIGNet/pred_segmentation_masks/
/PIGNet/101_csvs/
/PIGNet/collect_img/
/PIGNet/model_101/
