# Byte-compiled / optimized / DLL files
__pycache__/
/data
/save_models
/pytorch-cifar100
/resnet_18
/vit_ti_8_32
/wandb
/key
/ViT-CIFAR
/resnet
/vit
/.idea
/gcn-ha/PIGNet_ha/data/cifar-10
/gcn-ha/PIGNet_ha/data/cifar-100
/gcn-ha/PIGNet_ha/data/cityscape
/gcn-ha/PIGNet_ha/data/imagenet-100
/gcn-ha/PIGNet_ha/model
/gcn-ha/PIGNet_ha/wandb
/gcn-ha/PIGNet_ha/model_CNN_ViT.tar.gz
/gcn-ha/PIGNet_ha/model_PIGNet.tar.gz
/gcn-ha/PIGNet_ha/eval_graph
/gcn-ha/PIGNet_ha/data/VOCdevkit
/gcn-ha/PIGNet_ha/segmentation_result/
/cityscapesscripts
/gcn-ha/PIGNet_ha/.fr-agTx0l
/gcn-ha/PIGNet_ha/data.tar.gz
/.vscode/
/some/other/stuff/
/gcn-ha/PIGNet_ha/output_pretrained_CIFAR-10.csv
/gcn-ha/PIGNet_ha/output_pretrained_CIFAR-100.csv
/gcn-ha/PIGNet_ha/output_pretrained_imagenet.csv
/gcn-ha/PIGNet_ha/output_scratch_CIFAR-10.csv
/gcn-ha/PIGNet_ha/output_scratch_CIFAR-100.csv
/gcn-ha/PIGNet_ha/output_scratch_imagenet.csv