# Byte-compiled / optimized / DLL files
__pycache__/
/data
/save_models
/pytorch-cifar100
/resnet_18
/vit_ti_8_32
/wandb
/key
/ViT-CIFAR
/resnet
/vit
/.idea
/PIGNet/data/cifar-10
/PIGNet/data/cifar-100
/PIGNet/data/cityscape
/PIGNet/data/imagenet-100
/PIGNet/data/VOCdevkit
/PIGNet/model
/PIGNet/wandb
/PIGNet/model_CNN_ViT.tar.gz
/PIGNet/model_PIGNet.tar.gz
/PIGNet/eval_graph
/PIGNet/segmentation_result/
/PIGNet/cityscapesscripts
/PIGNet/.fr-agTx0l
/PIGNet/data.tar.gz
/.vscode/
/some/other/stuff/
/PIGNet/CIFAR-10
/PIGNet/CIFAR-100
/PIGNet/Imagenet
/PIGNet/pascal
/PIGNet/cityscape
/PIGNet/old_csv
/PIGNet/overlap_add_exp
/PIGNet/data_new.tar.gz
/1_spare

